@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #eff2f5;
  --fz-black: #0f1629;
  --fz-gray: #3e5765;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  width: 100%;
  min-height: 100vh;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

.section {
  background: #fff;
  border-radius: 0.5rem;
  padding: 1.5rem;
}
