@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #eff2f5;
  --fz-black: #0f1629;
  --fz-gray: #3e5765;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  width: 100%;
  min-height: 100vh;
  color: var(--fz-black);
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

.section {
  background: #fff;
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.coin-nav {
  & li {
    cursor: pointer;

    &.active {
      color: #0141cf;
      border-bottom: 3px solid #0052fe;
      padding: 1rem 0;
    }
  }
}

.gradient {
  background: linear-gradient(
    90deg,
    #ff4949,
    #ff4e11,
    #fc870a,
    #f9b112,
    #c2cb21,
    #11eb68
  );
}
